WC_CONSUMER_KEY=ck_your_consumer_key
WC_CONSUMER_SECRET=cs_your_consumer_secret
WC_BASE_URL=https://yoursite.com/wp-json/wc/v3
WP_REST_URL=https://yoursite.com/wp-json
FLAI_BASE_URL=https://cel.flai.com.do
FLAI_LOGIN=your_login
FLAI_PASSWORD=your_password
FLAI_BYPASS=true
